<tr id="book_<%= book.id %>" data-action="mouseover->cell#displayDestroyLink mouseout->cell#hideDestroyLink">
  <td>
    <%= turbo_frame_tag 'book_title' do %>
      <%= link_to edit_book_path(book), class: 'edit-book-link' do %>
        <span><%= book.title %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= turbo_frame_tag 'book_author' do %>
      <%= link_to edit_book_path(book), class: 'edit-book-link' do %>
        <span><%= book.author %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= turbo_frame_tag 'book_publisher' do %>
      <%= link_to edit_book_path(book), class: 'edit-book-link' do %>
        <span><%= book.publisher %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= turbo_frame_tag 'book_genre' do %>
      <%= link_to edit_book_path(book), class: 'edit-book-link' do %>
        <span><%= book.genre %></span>
      <% end %>
    <% end %>
  </td>
  <td class="delete-cell">
    <%= link_to book_path(book), method: :delete, class: "delete-link hidden" do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>